.allchats-container {
    overflow-y: scroll;
    /* border: solid; */
    height: 100vh;
    width: 100%;
}

.plus-button-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.plus-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue;
    font-size: larger;
    width: 100px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.plus-button:hover {
    height: 50px;
    width: 120px;
    font-size: x-large;
    cursor: pointer;
}

.allchats-container-small {
    overflow-y: scroll;
    margin-top: 15px;
    /* border: solid; */
    width: 100%;
    /* border: solid; */
}

.chat-container {
    /* border: solid; */
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-container:hover {
    cursor: pointer;
}

.chat-image {
    width: 80px;
}

.chat-image-container {
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-name-container {
    margin-left: auto;
    /* border: solid; */
    width: 70%;
    display: flex;
    align-items: center;
}

.chat-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1023px) {
    .chat-name-container {
        margin-left: auto;
        /* border: solid; */
        width: 70%;
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .chat-image-container {
        overflow: hidden;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-image {
        width: 100px;
    }

}

@media only screen and (max-width: 780px) {
    .chat-name-container {
        margin-left: auto;
        /* border: solid; */
        width: 80%;
        font-size: 18px;
        display: flex;
        align-items: center;
    }

    .chat-image-container {
        overflow: hidden;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-image {
        width: 100px;
    }
}

@media only screen and (max-width: 450px) {
    .chat-name-container {
        margin-left: auto;
        /* border: solid; */
        width: 70%;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .chat-image-container {
        overflow: hidden;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-image {
        width: 70px;
    }
}


@media only screen and (max-width: 280px) {
    .chat-name-container {
        margin-left: auto;
        /* border: solid; */
        width: 60%;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .chat-image-container {
        overflow: hidden;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-image {
        width: 70px;
    }
}